@import "tailwindcss";
:root {
  --primary-color: #4f46e5;
  --secondary-color: #3b82f6;
  --background-color: #f3f4f6;
  --text-color: #111827;
  --dark-bg: #000f;
  
  /* heading sizes */
}


/* Default font for all elements */
* {
 font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* English font applied to entire document */
.EnglishFont,
.EnglishFont * {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Arabic font applied to entire document */
.ArabicFont,
.ArabicFont * {
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
}

/* Ensure Arabic font is applied with higher specificity */
html.ArabicFont * {
  font-family: "Readex Pro", sans-serif !important;
}

html.EnglishFont * {
  font-family: "Parkinsans", sans-serif !important;
}